@{
    Layout = "_Layout";
}
@using HairSalon.Models;

<div class="row">
    <div class="col-md-6 offset-md-3">
    <h2 class="client-header">Client Index</h2>
        @if ( ViewBag.ClientList.Count == 0)
        {
            <h3>Please Enter A Client</h3>
            <a href="/clients/create">
                <button class="btn btn-primary">Add A Client</button>
            </a>
        } 
        else
        {
            <div class="list-group" id="list-tab" role="tablist">
            @foreach (Client client in ViewBag.ClientList)
            {
                @Html.ActionLink($"{client.Name}", "Show", new {id = client.ClientId}, new {@class="list-group-item list-group-item-action"})
            }
            </div>

            @Html.ActionLink("Add A Client", "Create", null, htmlAttributes: new {@class="btn btn-primary btn-lg btn-block"})
        }
    </div>
</div>